<script>
  import NavLink from "../../components/NavLink.svelte"
</script>

<style>
    section {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: #848EE6;
    }

    h1, h2, h3 {
        text-align: center;
    }

    h1 {
        font-family: Avenir Next;
        font-size: 3rem;
        color: #FFFFFF;
    }

    h2 {
        font-family: Monaco;
        font-size: 2rem;
        color: #FFFFFF;
    }

    h3 {
        font-family: Avenir Next;
        font-size: 1.5rem;
        color: #FFF;
    }

    ul {
        list-style-type: none;
        float: left;
        text-align: center;
    }

    li {
        font-family: Avenir Next;
        font-size: 1rem;
        color: #2c2c2c;
        text-align: left;
    }

    .Aligner {
        align-items: center;
    }

</style>


<section>
    <div class='ecosystem'>
        <NavLink to="/ecosystem"><h1>Our P2P Ecosystem</h1></NavLink>

        <div class="Aligner">
        <ul>
            <li><h3>Apps</h3></li>
            <li>Patchwork</li>
            <li>Patchbay</li>
            <li>Patchfoo</li>
            <li>Manyverse</li>
            <li>Patchless</li>
        </ul>

        <ul>
            <li><h3>Initiatives</h3></li>
            <li>Open App Ecosystem</li>
            <li>Village Tracker</li>
            <li>Moderation</li>
            <li>Dark Crystal</li>
            <li>The Weekly</li>
        </ul>

        <ul>
            <li><h3>Ventures</h3></li>
            <li>Sunrise Choir</li>
            <li>Peach Cloud</li>
            <li>Verse</li>
        </ul>
        </div>

    </div>
</section>
