<style>
  section {
    padding: 4em 0;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 2em;
    font-weight: 800;
  }

  h3 {
    font-size: 1.6em;
    letter-spacing: 0.43px;
  }
</style>

<section>
    <h1>The Decentralised Web</h1>
    <h2>It's time to build our own Internet</h2>
    <h3>We’re taking about it and gossiping on it</h3>

    <section>
      <div class="row">

      </div>
      <div class="row">

      </div>
      <div class="row">

      </div>
    </section>
</section>
