<style>
    section {
        background: #CDD7F4;
    }

    h1, h2 {
        text-align: center;
    }

    h1 {
        font-family: AvenirNext;
        font-size: 4rem;
        color: #FFFFFF;
    }

    h2 {
        font-family: Monaco;
        font-size: 2rem;
        color: #FFFFFF;
    }

    h3 {
        font-family: AvenirNext;
        font-size: 1.5rem;
        color: #818CEB;
    }

    ul {
        list-style-type: none;
        text-align: center;
    }

    li {
        font-family: AvenirNext;
        font-size: 1rem;
        color: #000000;
        text-align: left;
        max-width: 800px;
    }

    .ecosystem p {
        margin-left: 1em;
        margin-bottom: -1em;
    }


</style>


<section>
    <div class='ecosystem'>
        <h1>Our P2P Ecosystem</h1>
        <h2>a quick overview</h2>

        <ul>
            <li><h3>Apps</h3></li>
            <li><p>Patchwork</p></li>
            <li><p>Patchbay</p></li>
            <li><p>Patchfoo</p></li>
            <li><p>Manyverse</p></li>
            <li><p>Patchless</p></li>
        </ul>

        <ul>
            <li><h3>Initiatives</h3></li>
            <li><p>Open App Ecosystem</p></li>
            <li><p>Village Tracker</p></li>
            <li><p>Moderation</p></li>
            <li><p><a href="https://darkcrystal.pw/"><i>Dark Crystal<i></a>,
            P2P secret sharing</li>
            <li><p><i>The Weekly</i>, human-curated weekly
            summary of global Scuttlebutt activity, found at
            <tt>@iVPi/B73hJSpsUB8XbSnlxe3NembPXLjOfIexlYdgJA=.ed25519
            </tt></p></li>
        </ul>

        <ul>
            <li><h3>Ventures</h3></li>
            <li><p>Sunrise Choir</p></li>
            <li><p>Peach Cloud</p></li>
            <li><p>Verse</p></li>
        </ul>

    </div>
</section>
