<script>
  import Diversity from './values/Diversity.svelte';
</script>

<style>
section {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-color: #848EE6;
  padding: 4em 0 2em;
  min-height: 80vh;
}
h1 {
  text-align: center;
  color: #FFF;
  font-size: 2rem;
  padding: 10px;
}
h2 {
  font-weight: initial;
  color: #fff;
  font-size: 27px;
  text-align: left;
}
h3 {
  text-align: center;
  color: #FFF;
  font-weight: bold;
  padding: 10px;
}
p {
  font-size: 18px;
  text-align: left;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1400px;
  vertical-align: middle;
}
.item {
  padding: 0 4%;
  width: 410px;
  display: inline-block;
  vertical-align: middle;
}
</style>

<section>
  <h1>VALUES</h1>
  <div class="row">
    <div class="item">
      <h2>Local First</h2>
      <p>Local-first publishing so that each person owns their words and actions.</p>
    </div>
    <div class="item">
      <h2>Offline Usable</h2>
      <p>It’s completely usable while offline and syncs when connected to a local network, a friend or wifi.</p>
    </div>
    <div class="item">
      <h2>Open Sourced</h2>
      <p>Scuttlebutt has a large community of global users who together use and build the platform.</p>
    </div>
  </div>
  <div class="row">
    <div class="item">
      <h2>Diversity and Intersectionality</h2>
      <p></p>
    </div>
    <div class="item">
      <h2>Offline Usable</h2>
      <p>It’s completely usable while offline and syncs when connected to a local network, a friend or wifi.</p>
    </div>
    <div class="item">
      <h2>Open Sourced</h2>
      <p>Scuttlebutt has a large community of global users who together use and build the platform.</p>
    </div>
  </div>
</section>
<Diversity />
