<script>
	import { Router, Route } from "svelte-routing"
	import NavLink from "./components/NavLink.svelte"
	import Home from "./pages/Home.svelte"
	import Values from "./pages/Values.svelte"
	import About from "./pages/About.svelte"
	import NotFound from "./pages/NotFound.svelte"
	import Download from "./pages/Download.svelte"
	import Ecosystem from "./pages/Ecosystem.svelte"

	// Used for SSR. A falsy value is ignored by the Router.
	export let url = "";
</script>

<Router url="{url}">
		<nav>
			<NavLink to="/">home</NavLink>
			<NavLink to="values">values</NavLink>
			<NavLink to="about">about</NavLink>
		</nav>
		<Route path="about" component="{About}" />
		<Route path="download" component="{Download}" />
		<Route path="ecosystem" component="{Ecosystem}" />
		<Route path="values" component="{Values}" />
		<Route path="/" component="{Home}" />
		<Route component={NotFound}/>
</Router>

<style>
	nav {
		/* positioning nav */
		position: absolute;
		width: 100%;
    left: 0;

    display: flex;
		justify-content: flex-end;
		margin-right: 3rem;

		background: white;
  }
	nav :global(a) {
	 color: #8c8c8c;
	 font-size: 20px;
	 font-family: Avenir Next;
	 font-weight: bold;
	 padding: 1em 2em;
 }
	nav :global(a):hover {
	 color: #666;
	 text-decoration: none;
 }
</style>
